/**************************** RESET ************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #01727498;
}
body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;

  /* overflow: hidden; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/**************************** Main Styling ************************/
/********************** Aside Styling ******************/

.aside__content {
  min-height: 100vh;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}
.logo__link {
  display: flex;
  cursor: pointer;
}
.logo__img {
  width: 100%;
  object-fit: cover;
}

.social__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.social__item:not(:last-child) {
  padding-bottom: 2rem;
}

.social__link,
.social__link:visited {
  color: #fff;
}

.social__icon {
  font-size: 2.5rem;
}

/********************** Nav Styling ******************/
.main__content {
  flex: 1;
}

.header {
  background-color: var(--secondary-color);
}

.header__content {
  height: 8rem;
  z-index: 2;
}

.nav__content {
  height: 100%;
}

.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  padding-right: 3vw;
}

.nav__link {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.7vw);
  color: #fff;
}

.nav__link:link::before,
.nav__link:visited::before,
.nav__link:link::after,
.nav__link:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;

  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.nav__link:link::before,
.nav__link:visited::before {
  top: 0;
}
.nav__link:link::after,
.nav__link:visited::after {
  bottom: 0;
}

.nav__link:hover::before,
.nav__link:hover::after,
.nav__link:active::before,
.nav__link:active::after {
  transform: scaleX(1);
}

/****************************** HERO SECTION  ****************************/
.hero {
  height: 100vh;
  background-image: url("img/full-bg-07.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: #fff;
}

.hero__content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 2vw);
  height: calc(5rem + 20vmax);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  animation: hero 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero__title {
  font-size: calc(2rem + 3vw);
}

.hero__description {
  font-family: "Indie Flower", cursive;
  font-size: calc(1.5rem + 1vw);
}

.hero__link,
.hero__link:visited {
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #fff;

  position: relative;
  z-index: 1;
}

.hero__link:link::after,
.hero__link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  /* transform-origin: right; */

  transition: all 0.3s ease-in-out;

  z-index: -1;
}

.hero__link:hover::after,
.hero__link:active::after {
  transform: scaleX(1);
  /* transform-origin: left; */
}

/**************************** WORK SECTION ***********************/
.work {
  background-color: var(--tertiary-color);
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: var(--tertiary-color);

  max-width: 1500px;
  margin: 0 auto;
}

.work__item {
  padding: 2rem;
  flex-basis: 40rem;
  flex-grow: 1;

  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

.work__image {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: filter 0.35s ease;
}

.work__image:hover,
.work__image:active {
  filter: sepia(80%);
}

.about {
  padding: 2rem 0;
  background-color: var(--secondary-color);

  /* max-width: 150rem;
  margin: 0 auto; */
}

.about__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 150rem;
  margin: 0 auto;
}

.about__img-box,
.about__content {
  flex-basis: 40rem;
  flex-grow: 1;
  padding: 2rem;
}

.about__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 8rem;
}

.about__title {
  font-size: 4rem;
  padding: 1rem 0;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.about__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}

.about__title,
.about__text {
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.about__text {
  font-size: 1.8rem;
  font-family: "Indie Flower", cursive;
}

.about__link,
.about__link:visited {
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  color: #fff;

  z-index: 1;
}

.about__link:link::after,
.about__link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;

  z-index: -1;
}

.about__link:hover::after,
.about__link:active::after {
  transform: scaleY(1);
  transform-origin: top;
}

.services {
  background-color: var(--primary-color);
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 6rem 0;
  margin: 0 auto;
  max-width: 150rem;
}

.services__item {
  padding: 4rem;
  margin: 2rem;

  flex-basis: 40rem;
  flex-grow: 1;

  background-color: var(--secondary-color);
  border-right: 0.2rem solid var(--secondary-color);
  border-bottom: 0.2rem solid var(--secondary-color);
  border-left: 0.2rem solid var(--secondary-color);

  position: relative;

  z-index: 1;
}

.services__item::after {
  position: absolute;

  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: var(--primary-color);

  transform: scaleX(0);
  transition: transform 0.35s cubic-bezier(1, 0, 0, 1);

  z-index: -1;
}

.services__item:hover::after,
.services__item:active::after {
  transform: scaleX(1);
}

.services__icon {
  margin-bottom: 2rem;

  font-size: 3rem;
  color: #fff;
}

.services__title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
}

.services__text {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  color: #fff;
}

/******************************** SKILLS ***************************/
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color);
}

.design,
.coding {
  padding: calc(1rem + 2vw);

  flex-basis: 40rem;
  flex-grow: 1;
}
.design__title,
.coding__title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.design__title_small,
.coding__title_small {
  font-size: 2rem;
  color: #fff;
}
.design__progress,
.coding__progress {
  position: relative;
  display: block; /*Da controllare se serve !*/

  /*********************************************************************/

  padding: 0.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);

  width: 100%;

  margin-bottom: 2rem;
}

.design__progress span,
.coding__progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  /* width: 5rem; */
  background-color: var(--secondary-color);

  border-radius: 1rem;
}
.design__progress_web {
  animation: web 3s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes web {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.design__progress_print {
  animation: print 3s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes print {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
.design__progress_logo {
  animation: logo 3s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes logo {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.design__progress_graphic {
  animation: graphic 3s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes graphic {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

.coding__progress_html {
  animation: html 3s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.coding__progress_js {
  animation: js 3s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}
.coding__progress_python {
  animation: python 3s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes python {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.coding__progress_sql {
  animation: sql 3s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes sql {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

/******************** Testimonials section *****************/

.testimonials {
  background: var(--secondary-color);
}

.testimonials__list {
  max-width: 150rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  padding: calc(1rem + 2vw);
  color: #fff;
}
.testimonials__card {
  position: relative;

  padding: 2vw;
  flex-basis: 50rem;
  flex-grow: 1;
  overflow: hidden;
}
.testimonials__img-box {
  width: 100%;
  height: 100%;
  /* transform: scale(1); */
}
.testimonials__image {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;

  transition: all 0.35s ease-in-out;
}
.testimonials__content {
  position: absolute;
  width: 80%;
  top: 60%;
  left: 0;
  padding: 1.5rem;
  background: var(--tertiary-color-m);
  border-radius: 1rem;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease-in-out;
}
.testimonials__card:hover .testimonials__content,
.testimonials__card:active .testimonials__content {
  transform: scaleY(1);
}
.testimonials__title {
  font-size: 3rem;
  text-transform: uppercase;
}
.testimonials__text {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}

/****************** Contact Section *******************/
.contact__content {
  height: 100vh;
  background-image: url(img/full-bg-03.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact__form {
  flex-basis: 40rem;

  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color-m);
}

.form__input,
.form__textarea,
.form__input:focus-visible,
.form__textarea:focus-visible {
  color: #fff;
  background: transparent;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--secondary-color);
}
.form__textarea {
  height: 25vh;
  resize: none;
}
.form__input[type="submit"] {
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/**************************** Media ***********************/
@media screen and (max-width: 900px) {
  .hero {
    background-position: 100%;
    align-items: flex-end;
  }
  .contact__content {
    background-position: left;
  }
}

@media screen and (max-width: 610px) {
  /******************MAIN NAV HEADER  */

  .aside__content {
    width: 10vw;
  }

  .social__icon {
    font-size: 2rem;
  }

  .header__content {
    position: absolute;
  }

  .nav__content {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    /* right: 0; */
    background-color: var(--secondary-color);
    text-align: center;
  }

  .nav__content_clicked {
    left: 55%;
  }

  .hamburger__content {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hamburger__item {
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .nav__item {
    margin-bottom: 3vh;
    margin-left: 6vw;
    opacity: 0;
  }
  .nav__item_fade {
    opacity: 1;
  }
  .nav__content_clicked .hamburger__item_top {
    transform: rotateZ(-45deg) translate(-0.8rem, 0.6rem);
  }
  .nav__content_clicked .hamburger__item_middle {
    opacity: 0;
  }
  .nav__content_clicked .hamburger__item_bottom {
    transform: rotateZ(45deg) translate(-0.8rem, -0.6rem);
  }

  .nav__item:nth-child(1) {
    transition: all 0.3s ease-in-out /* delay */ 0.2s;
  }
  .nav__item:nth-child(2) {
    transition: all 0.3s ease-in-out /* delay */ 0.35s;
  }
  .nav__item:nth-child(3) {
    transition: all 0.3s ease-in-out /* delay */ 0.5s;
  }
  .nav__item:nth-child(4) {
    transition: all 0.3s ease-in-out /* delay */ 0.65s;
  }
  .nav__item:nth-child(5) {
    transition: all 0.3s ease-in-out /* delay */ 0.8s;
  }
  .nav__item:nth-child(6) {
    transition: all 0.3s ease-in-out /* delay */ 0.95s;
  }

  .hero {
    background-position: 80%;
  }

  .services__item {
    padding: calc(1rem + 2vw);
  }

  .services__title,
  .design__title,
  .coding__title,
  .testimonials__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .services__text,
  .design__title_small,
  .coding__title_small {
    font-size: 1.6rem;
  }

  .contact__content {
    background-position: left;
  }
}

@media screen and (max-width: 460px) {
  /**************** Testimonias section *********************/
  .testimonials__content {
    top: 0;
  }
  .contact__content {
    background-position: left;
  }
}
