/**************************** RESET ************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --primary-color: #014d4e;
  --secondary-color: #ff9408;
  --secondary-color-m: #ff94088e;
  --tertiary-color: #017374;
  --tertiary-color-m: #01727498;
}
body {
  font-family: "Baloo Tamma 2", cursive;
  line-height: 1.8;
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/**************************** Main Styling ************************/
/********************** Aside Styling ******************/

.aside__content {
  height: 100vh;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}
.logo__link {
  display: flex;
  cursor: pointer;
}
.logo__img {
  width: 100%;
  object-fit: cover;
}

.social__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.social__item:not(:last-child) {
  padding-bottom: 2rem;
}

.social__link,
.social__link:visited {
  color: #fff;
}

.social__icon {
  font-size: 2.5rem;
}

/********************** Nav Styling ******************/
.main__content {
  flex: 1;
}

.header {
  background-color: var(--secondary-color);
}

.header__content {
  height: 8rem;
  z-index: 2;
}

.nav__content {
  height: 100%;
}

.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  padding-right: 3vw;
}

.nav__link {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.7vw);
  color: #fff;
}

.nav__link:link::before,
.nav__link:visited::before,
.nav__link:link::after,
.nav__link:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;

  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.nav__link:link::before,
.nav__link:visited::before {
  top: 0;
}
.nav__link:link::after,
.nav__link:visited::after {
  bottom: 0;
}

.nav__link:hover::before,
.nav__link:hover::after,
.nav__link:active::before,
.nav__link:active::after {
  transform: scaleX(1);
}

/****************************** HERO SECTION  ****************************/
.hero {
  height: 100vh;
  background-image: url("img/full-bg-07.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: #fff;
}

.hero__content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 2vw);
  height: calc(5rem + 20vmax);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.hero__title {
  font-size: calc(2rem + 3vw);
}

.hero__description {
  font-family: "Indie Flower", cursive;
  font-size: calc(1.5rem + 1vw);
}

.hero__link,
.hero__link:visited {
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #fff;

  position: relative;
  z-index: 1;
}

.hero__link:link::after,
.hero__link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  /* transform-origin: right; */

  transition: all 0.3s ease-in-out;

  z-index: -1;
}

.hero__link:hover::after,
.hero__link:active::after {
  transform: scaleX(1);
  /* transform-origin: left; */
}

/**************************** Media ***********************/
@media screen and (max-width: 610px) {
  /******************MAIN NAV HEADER  */

  .header__content {
    position: absolute;
  }

  .nav__content {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    /* right: 0; */
    background-color: var(--secondary-color);
    text-align: center;
  }

  .nav__content_clicked {
    left: 55%;
  }

  .hamburger__content {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hamburger__item {
    width: 100%;
    height: 0.3rem;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .nav__item {
    margin-bottom: 3vh;
    margin-left: 6vw;
    opacity: 0;
  }
  .nav__item_fade {
    opacity: 1;
  }
  .nav__content_clicked .hamburger__item_top {
    transform: rotateZ(-45deg) translate(-0.8rem, 0.6rem);
  }
  .nav__content_clicked .hamburger__item_middle {
    opacity: 0;
  }
  .nav__content_clicked .hamburger__item_bottom {
    transform: rotateZ(45deg) translate(-0.8rem, -0.6rem);
  }

  .nav__item:nth-child(1) {
    transition: all 0.3s ease-in-out /* delay */ 0.2s;
  }
  .nav__item:nth-child(2) {
    transition: all 0.3s ease-in-out /* delay */ 0.35s;
  }
  .nav__item:nth-child(3) {
    transition: all 0.3s ease-in-out /* delay */ 0.5s;
  }
  .nav__item:nth-child(4) {
    transition: all 0.3s ease-in-out /* delay */ 0.65s;
  }
  .nav__item:nth-child(5) {
    transition: all 0.3s ease-in-out /* delay */ 0.8s;
  }
  .nav__item:nth-child(6) {
    transition: all 0.3s ease-in-out /* delay */ 0.95s;
  }
}
